h1 { color: #6850f0; }
h2 {color:black ;}

th.important { color: red; }
p.sample2 {border: inset 10px #fbff00ee;}
p.sample1 {border: double 10px #ff1100;}
p.sample3 {border: double 10px #ffa600;}
p.sample4 {border: double 10px #1eff00;}
p.sample5 {border: double 10px #00f7ff;}
p.sample6 {border: double 10px #0000ff;}
p.sample7 {border: double 10px #d400ff;}
p.sample8 {border: double 10px #ff00d4;}